* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.webp);
  background-color: rgba(0, 0, 0, 0.259);
  background-size: cover;  
  background-attachment: fixed;
  color: aliceblue;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.headder {
  background-color: rgba(240, 248, 255, 0.179);
  text-shadow: 0px 0px 8px #000000;
  margin-bottom: 30px;  
}

.headder h1 {
  padding: 10px;
}

.headder h2 {
  padding-left: 30px;
}

.main {
  text-align: center;
  text-shadow: 0px 0px 8px #000000;
  
}

.main h4 {
  margin-bottom: 20px;
}


.main ul {
  list-style: none;
  padding-left: 0;
}

.main ul p {
  font-weight: 700;
  text-decoration: underline;
}

.main ul li:hover {
  font-size: larger;
}

#result-container {
  background-color: rgba(240, 248, 255, 0.179);
  font-weight: 700;
  text-shadow: 0px 0px 8px #000000;
  padding-top: 20px;
  padding-bottom: 40px;  
}