* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.webp);
  background-size: cover;
  color: aliceblue;
}

.hidden {
  display: none;
}

.headder {
  background-color: brown;
  height: 15vh;
}

.headder h1 {
  padding: 10px;
}

.headder h2 {
  padding-left: 30px;
}

.main {
  text-align: center;
}